[submodule ".registry"]
	path = .registry
	url = https://github.com/jarioksa/jarioksa.r-universe.dev
	branch = HEAD
[submodule "GO"]
	path = GO
	url = https://github.com/jarioksa/GO
[submodule "gravy"]
	path = gravy
	url = https://github.com/jarioksa/gravy
[submodule "natto"]
	path = natto
	url = https://github.com/jarioksa/natto
[submodule "twinspan"]
	path = twinspan
	url = https://github.com/jarioksa/twinspan
